@page "/interactions"
@inject ISqlInteractionMomentsRepository SqlInteractionMomentsRepository
@inject ISqlActivitiesRepository SqlActivitiesRepository

@using SimpleMqtt
@using System.Linq;
@inject SimpleMqttClient mqttClient
@rendermode InteractiveServer
<MudPopoverProvider />
<PageTitle>Interactions</PageTitle>
<div class="container d-flex flex-column">

    <!-- Bovenste twee blokken -->
    <div class="row" style="height:55vh;">
        <div class="col-6 p-1 h-100">
            <div class="card h-100 w-100 d-flex p-3">
                @if (interactionMoments == null)
                {
                    <p><em>Loading...</em></p>
                }
                else if (interactionMoments.Count == 0)
                {
                    <p>No interactionmoments found.</p>
                    <tr class="table-light sticky-bottom">
                        <td colspan="2">
                            <input type="time" @bind="newTime" class="form-control" />
                            <button class="btn btn-sm btn-primary mt-1 w-100" @onclick="() => AddInteractionWithTime(1)">
                                Add interactionmoment
                            </button>
                        </td>
                    </tr>
                }
                else
                {
                    <div style="max-height: 100vh; overflow-y: auto;">
                        <table class="table table-striped mb-0">
                            <thead class="table-light sticky-top">
                                <tr>
                                    <th>Moments the robot will interact</th>
                                    <th>Remove specific moment</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (InteractieMoment interactionMoment in interactionMoments)
                                {
                                    <tr>
                                        <td>@interactionMoment.Tijdstip.ToString(@"hh\:mm\:ss")</td>
                                        <td>
                                            <button class="btn btn-sm btn-danger"
                                                @onclick="() => DeleteInteraction(interactionMoment.InteractieID)">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                }

                                <!-- Always visible add row -->
                                <tr class="table-light sticky-bottom">
                                    <td colspan="2">
                                        <input type="time" @bind="newTime" class="form-control" />
                                        <button class="btn btn-sm btn-primary mt-1 w-100"
                                            @onclick="() => AddInteractionWithTime(1)">
                                            Add
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>

        <div class="col-6 p-1 h-100">
            <div class="card h-100 w-100">
                <MudPaper Style="flex:1" Width=100%; Height=100%;>
                    <MudTooltip
                        Text="This stacked bar chart displays all interactions ever done. Each bar shows the breakdown of 'Finished' (completed) and 'Unfinished' (incomplete) interactions. Every interaction has been put in a timeframe of one hour."
                        Placement="Placement.Top" Class="chart-tooltip">
                        <MudIcon Icon="@Icons.Material.Filled.Info" Size="Size.Medium" />
                    </MudTooltip>
                    <MudChart ChartType="ChartType.StackedBar" ChartSeries="@_interactionSeries"
                        XAxisLabels="@_interactionXAxisLabels" Width="100%" Height="90%"
                        AxisChartOptions="_interactionAxisOptions"></MudChart>
                </MudPaper>
            </div>
        </div>
        <style>
            .chart-tooltip {
                background-color: #1EC8A5 !important;
                color: white !important;
                font-size: 1.1rem !important;
                padding: 0.8rem !important;
                border-radius: 6px !important;
                max-width: 300px !important;
            }
        </style>
    </div>

    <!-- all activities -->
    <div class="row mt-2" style="height:30vh;">
        <div class="col-12 p-1">
            <div class="card h-100 w-100 d-flex flex-column p-3">

                <div>
                    @if (allActivities == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else if (allActivities.Count == 0)
                    {
                        <p>No activities found.</p>
                    }
                    else
                    {
                        <div style="max-height: 240px; overflow-y: auto;">
                            <table class="table table-striped mb-0">
                                <thead class="table-light sticky-top">
                                    <tr>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Kind of Activity</th>
                                        <th>Average reaction speed (ms)</th>
                                        <th>Correctly answered (%)</th>
                                        <th>State</th>
                                        <th>Simon says amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (GameResult activity in allActivities)
                                    {
                                        <tr>
                                            <td>@activity.Date.ToString("dd-MM-yyyy")</td>
                                            <td>@activity.StartTime.ToString(@"HH\:mm\:ss")</td>
                                            <td>@activity.EndTime.ToString(@"HH\:mm\:ss")</td>
                                            <td>@activity.KindOfGame</td>
                                            @if (activity.AverageReactionTimeMs < 0)
                                            {
                                                <td>Nothing measured</td>
                                            }
                                            else
                                            {
                                                <td>@activity.AverageReactionTimeMs</td>
                                            }
                                            @if (@activity.CorrectlyAnsweredPercentage < 0)
                                            {
                                                <td>Nothing measured</td>
                                            }
                                            else
                                            {
                                                <td>@activity.CorrectlyAnsweredPercentage</td>
                                            }
                                            <td>@activity.InteractionState</td>
                                            @if (@activity.SimonSaysAmount < 0)
                                            {
                                                <td>Nothing measured</td>
                                            }
                                            else
                                            {
                                                <td>@activity.SimonSaysAmount</td>
                                            }

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<InteractieMoment>? interactionMoments;
    private List<GameResult>? allActivities;
    private List<ChartSeries> _interactionSeries = new();
    private string[] _interactionXAxisLabels = Array.Empty<string>();
    private AxisChartOptions _interactionAxisOptions = new();

    protected override async Task OnInitializedAsync()
    {
        interactionMoments = await SqlInteractionMomentsRepository.SelectInteractionMoments(1);
        allActivities = await SqlActivitiesRepository.AllActivities(1);

        BuildHourlyInteractionChart();
    }

    private async Task DeleteInteraction(int id)
    {
        await mqttClient.PublishMessage($"{id}", "robot/2242722/interactionmoment/delete");
        // Refresh list
        interactionMoments = await SqlInteractionMomentsRepository.SelectInteractionMoments(1);
        StateHasChanged();
    }
    private TimeOnly? newTime;

    private async Task AddInteractionWithTime(int robotID)
    {
        if (!newTime.HasValue)
        {
            return;
        }
        string payload = $"{robotID};{newTime.Value:HH:mm:ss}";
        await mqttClient.PublishMessage(payload, $"robot/2242722/interactionmoment/add");
        newTime = null;
        // Refresh list
        interactionMoments = await SqlInteractionMomentsRepository.SelectInteractionMoments(1);
        StateHasChanged();
    }
    private void BuildHourlyInteractionChart()
    {
        if (allActivities == null)
            return;

        // 24 hours
        var hours = Enumerable.Range(0, 24).ToArray();

        var finishedCounts = new double[24];
        var missedCounts = new double[24];

        foreach (var hour in hours)
        {
            finishedCounts[hour] = allActivities.Count(a =>
            a.InteractionState == "Finished" && a.StartTime.Hour == hour);

            missedCounts[hour] = allActivities.Count(a =>
            a.InteractionState != "Finished" && a.StartTime.Hour == hour);
        }

        // X-axis labels: 0:00, 1:00, ..., 23:00
        _interactionXAxisLabels = hours.Select(h => $"{h}:00").ToArray();

        _interactionSeries = new List<ChartSeries>
{
new ChartSeries { Name = "Finished", Data = finishedCounts },
new ChartSeries { Name = "Unfinished", Data = missedCounts }
};

        _interactionAxisOptions = new AxisChartOptions
        {
            MatchBoundsToSize = true,
            XAxisLabelRotation = 90
            @* ShowXAxisLabels = true,
        ShowYAxisLabels = true *@
        };
    }
}